.Rproj.user
.Rhistory
.RData
.Ruserdata


data/shapefiles/ca_provinces/CLAB_CA_2023-09-08

data/ndvi
data/ndvi/old_ndvi
data/old
data/park_attendance
data/parks_polygon_Albers

figures/old_figures

scripts/model_validation.R
scripts/dump.R
scripts/script_from_kat_for_loop.R
scripts/old_scripts

other/